:root {
    --background-color: #1f1f1f; /* Dark mode background color */
    /* --primary-color: #2f2f2f; Dark gray for boxes */
    --primary-color: #1f1f1f; /*Dark gray for boxes */
    --accent-color: #ffd700; /* Honey yellow / gold */
    --text-color-white: #ffffff; /* Gold text color */
    --font-family: 'Gill Sans', sans-serif; /* Roboto font */
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color-white);
    line-height: 1.5;
    margin: 0;
    padding: 10ch;
    margin-inline: auto;
    width: 90%;
}

.title-page {
    text-align: center;
}

.title-page h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color-white);
}

.title-page .separator {
    /* width: 80%; */
    height: 1px; /* Add height property to ensure the separator is visible */
    background-color: var(--accent-color); /* Set background color instead of border */
    margin: 50px auto;
    clear: both;
}

.subtitle-page h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 15px;
    color: var(--text-color-white);
}

.team-name {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
    color: var(--accent-color); /* Use the accent color for the text */
}

nav {
    display: flex;
    border-bottom: 0.1em solid var(--accent-color);
    margin-bottom: 10ch;
}

nav a {
    text-decoration: none;
    color: var(--text-color-white);
    text-align: center;
    padding: 0.5em;
    flex: 1;
}

nav a.current {
    font-weight: bold;
}

nav a:hover {
    border-bottom: 0.4em solid var(--accent-color);
    background-color: var(--accent-color);
}

.color-scheme {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.color-scheme select {
    padding: 0.5em;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.motivation-container {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.motivation-container h1 {
    font-family: var(--font-family);
    color: var(--accent-color);
    /* text-align: center; */
    margin-bottom: 20px;
    font-size: 32px;
}

.motivation-container p {
    font-family: var(--font-family);
    color: var(--accent-color);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}


.container {
    /* max-width: 100%; */
    margin: 50px auto;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.container h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: var(--accent-color);
}

.container select {
    /* width: 100%; */
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    appearance: none;
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--accent-color);
}

.container input[type="number"] {
    /* width: calc(100% - 80px); */
    padding: 10px;
    margin-right: 10px;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--accent-color);
}

.container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--text-color-white);
    font-size: 16px;
    cursor: pointer;
}

.container .stick-figure {
    font-size: 24px;
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 15px;
    color: var(--text-color-white);
}

.container .blurb {
    font-size: 14px;
    color: var(--accent-color);
    text-align: right;
}

/* new from hiking page */
  
body {
font-family: 'Noto Sans JP', sans-serif;
font-size: 16px;
font-weight: 400;
background: #f7f7f7;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color-white);
    line-height: 1.5;
    margin: 0;
    padding: 10ch;
    width: 80%;
    /* max-width: 100ch; */
    margin-inline: auto;
}

.page {
    margin: 2rem auto;
}

.container {
position: relative;
margin-bottom: 100px;
}

/* this makes the vis appear/disappear */
#vis {
position: sticky;
top: 68px;
/* position: fixed; */
width: 400px;
}

#prose {
margin-left: 400px;
}
#prose .step {
height: 500px;
}

.count {
    padding: 0px 4px;
    background: #333;
    font-weight: 600;
    border-radius: 8px;
    margin: 0 4px;
}

.step {
font-size: 1.2rem;
}

.chart-label {
font-size: 1rem;
color: var(--accent-color);
}